include README.md
include LICENSE
include pyproject.toml
recursive-include gds_postgres *.py
recursive-include gds_postgres *.typed
recursive-include examples *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]