services:
  vault:
    build:
      context: /workspaces/dbtools
      dockerfile: docker/vault/Dockerfile
    container_name: vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
    volumes:
      - ./vault/config:/vault/config:ro
      - ./vault/data:/vault/file
    restart: unless-stopped
    networks:
      - devcontainer-network

networks:
  devcontainer-network:
    external: true
