---
# Docker installation for RedHat-based systems (RHEL)

- name: Remove old Docker packages
  ansible.builtin.dnf:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
    state: absent

- name: Install Docker prerequisites
  ansible.builtin.dnf:
    name:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present

- name: Add Docker repository
  ansible.builtin.yum_repository:
    name: docker-ce
    description: Docker CE Stable
    baseurl: "{{ docker_repo_url }}/$releasever/$basearch/stable"
    gpgcheck: true
    gpgkey: "{{ docker_gpg_url }}"
    enabled: true

- name: Install Docker packages
  ansible.builtin.dnf:
    name: "{{ docker_packages }}"
    state: present

